
<footer style="color:white" class="page-footer font-small blue pt-4 bg-dark">

  <div class="container-fluid text-center text-md-left">

    <div class="row">

      <div class="col-md-6 mt-md-0 mt-3">

        <h5 class="text-uppercase">Footer Content</h5>
        <p>Coming soon :-)<br>
          Have a great day with real-time exchange rates!</p>

      </div>

      <hr class="clearfix w-100 d-md-none pb-3">

      <div class="col-md-3 mb-md-0 mb-3">

        <h5 class="text-lowercase">rates info sources:</h5>

        <ul class="list-unstyled">
          <li>
            <a href="https://raiffeisen.ua/ru" target="_blank" style="color:white">Raiffeisenbank</a>
          </li>
          <li>
            <a href="https://www.monobank.ua/?lang=ru" target="_blank" style="color:white">monobank</a>
          </li>
          <li>
            <a href="https://privat24.privatbank.ua/" target="_blank" style="color:white">PrivatBank</a>
          </li>
          <li>
            <a href="https://www.oschadbank.ua/" target="_blank" style="color:white">oschadbank</a>
          </li>
        </ul>

      </div>

      <div class="col-md-3 mb-md-0 mb-3">

        <h5 class="text-lowercase">rates info sources:</h5>

        <ul class="list-unstyled">
          <li>
            <a href="https://alfabank.ua/ru" target="_blank" style="color:white">alfabank</a>
          </li>
          <li>
            <a href="https://ru.otpbank.com.ua/" target="_blank" style="color:white">otpbank</a>
          </li>
          <li>
            <a href="https://www.ukrgasbank.com/" target="_blank" style="color:white">ukrgasbank</a>
          </li>
          <li>
            <a href="http://vkurse.dp.ua" target="_blank" style="color:white">vkurse.dp.ua</a>
          </li>
        </ul>

      </div>

    </div>

  </div>

  <div class="footer-copyright text-center py-3">© {% now 'Y' %} the rates book
  </div>

</footer>
