<!DOCTYPE html>
{# TEMPLATE #}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>～ Python Lesson ～</title>
</head>
<body bgcolor="#faf0e6">
<center>

    <font size="8" style="color:green" face="Comic Sans MS">～ Python Lesson ～</font>

    <p>{% include 'includes/navbar.html' %}</p>  <!-- ナビゲーションバーを追加 -->

    {% block main_content %}  <!-- ここに内容を差し込む -->
    {% endblock %}

    <p>{% include 'includes/footer.html' %}</p>  <!-- フッターを追加 -->

</center>
</body>
</html>
