{% extends 'base.html' %}

{% block main_content %}
<table width="1100" border="1" style="border-collapse: collapse">
  <caption><font size="6" style="color:green"><b>Contact us</b></font></caption>

  <thead>
    <tr style="color:green" bgcolor="#fff3b8">
      <th height="50"> ID </th>
      <th> User name </th>
      <th> Email </th>
      <th> Subject </th>
      <th> Message </th>
    </tr>
  </thead>

  <tbody>
  {% for user in object_list %}  <!--  DjDT内Templatesを参照し、object_listと編集した-->
    <tr bgcolor="#FFFFFF">
      <td width="5%" align="center">{{ user.id }}</td>
      <td width="14%" align="center">{{ user.user_name }}</td>
      <td width="24%" align="center">{{ user.email_form }}</td>
      <td width="15%">{{ user.subject }}</td>
      <td width="42%">{{ user.message }}</td>
    </tr>
  {% endfor %}
  </tbody>

</table>
{% endblock %}
