{% extends 'base.html' %}

{% block main_content %}

{% if not request.user.is_authenticated %}
  <div >
    <center>
      <font size="5" face='Quicksand'>
      <br><br><br><br><br><br>
      Hi, there!<br>
      This is the rates book<br>
      of Ukrainian banks.<br>
      <br>
      "SignUp" or "Login"<br>
      to fully enjoy our site!
      <br><br><br><br><br><br><br><br>
      </font>
    </center>
  </div>
{% elif request.user.is_authenticated %}
  <div >
    <center>
      <font size="5" face='Corben'>
      <br><br><br><br><br><br>
      Welcome, {{ request.user.email }}!<br>
      Enjoy our site!
      <br><br><br><br><br><br><br><br>
      </font>
    </center>
  </div>
{% endif %}

{% endblock %}
