{% extends 'base.html' %}

{% block main_content %}
<table width="1200" border="1" style="border-collapse: collapse">
  <caption><font size="6" style="color:green"><b>Rate list</b></font></caption>

  <a href="/rate/create/">Create Rate</a>
  <br>

  <thead>
    <tr style="color:green" bgcolor="#fff3b8">
      <th height="50"> ID </th>
      <th> Source </th>
      <th> Type </th>
      <th> Sale </th>
      <th> Buy </th>
      <th> Created </th>
      <th> Details </th>
      <th> Update </th>
      <th> Delete </th>
    </tr>
  </thead>

  <tbody>
    {% for rate in rate_list %}
      <tr bgcolor="#FFFFFF">
        <td width="5%" align="center">{{ rate.id }}</td>
        <td width="20%" align="center">{{ rate.source }}</td>
        <td width="10%" align="center">{{ rate.type }}</td>
        <td width="10%" align="center">{{ rate.sale }}</td>
        <td width="10%" align="center">{{ rate.buy }}</td>
        <td width="24%" align="center">{{ rate.created }}</td>
        <td width="7%" align="center"><a href="/rate/details/{{ rate.id }}/">details</a></td>
        <td width="7%" align="center"><a href="/rate/update/{{ rate.id }}/">update</a></td>
        <td width="7%" align="center"><a href="/rate/delete/{{ rate.id }}/">delete</a></td>
      </tr>
    {% endfor %}
  </tbody>

</table>
{% endblock %}
