{% extends 'base.html' %}

{% block main_content %}
<table width="1200" border="1" style="border-collapse: collapse">
  <caption><font size="6" style="color:green"><b>Source list</b></font></caption>

  {% if request.user.is_superuser %}
    <a href="{% url 'currency:source-create' %}">Create Source</a>
    <br>
  {% endif %}

  <thead>
    <tr style="color:green" bgcolor="#fff3b8">
      <th height="50"> ID </th>
      <th> Bank name </th>
      <th> Bank URL </th>
      {% if request.user.is_authenticated %}
        <th> Details </th>
      {% endif %}
      {% if request.user.is_superuser %}
        <th> Update </th>
        <th> Delete </th>
      {% endif %}
    </tr>
  </thead>

  <tbody>
    {% for source in source_list %}  <!-- 左source_listはviewsで以前作っていた関数名source_listとは無関係（偶然一緒だった） -->
      <tr bgcolor="#FFFFFF">
        <td width="5%" align="center">{{ source.id }}</td>
        <td width="24%" align="center">{{ source.name }}</td>
        <td width="53%" align="center">{{ source.source_url }}</td>
        {% if request.user.is_authenticated %}
          <td width="6%" align="center"><a href="{% url 'currency:source-details' source.pk %}">details</a></td>    <!-- pkはID-->
        {% endif %}
        {% if request.user.is_superuser %}
          <td width="6%" align="center"><a href="{% url 'currency:source-update' source.pk %}">update</a></td>
          <td width="6%" align="center"><a href="{% url 'currency:source-delete' source.pk %}">delete</a></td>
        {% endif %}
      </tr>
    {% endfor %}
  </tbody>

</table>
{% endblock %}
