{% extends 'base.html' %}

{% load static %}

{% block main_content %}
<caption><font size="6" style="color:green"><b>Source list</b></font></caption><br>

{% if request.user.is_superuser %}
  <a class="btn btn-outline-primary" href="{% url 'currency:source-create' %}">Create Source</a>
{% endif %}
<br><br>

<table class="table table-striped">

  <thead>
    <tr>
      <th> ID </th>
      <th> Bank logo </th>
      <th> Bank name </th>
      <th> Bank URL </th>
      {% if not request.user.is_authenticated %}
        <th></th>
      {% else %}
        <th> Actions </th>
      {% endif %}
    </tr>
  </thead>

  <tbody>
    {% for source in source_list %}  <!-- source_listはviewsで以前作っていた関数名source_listとは無関係（偶然一緒だった） -->
      <tr>
        <td>{{ source.id }}</td>
        <td>
          {% if source.name == 'privatbank' %}
            <img src="{% static 'images/PrivatBank.png' %}" class="h100">
          {% elif source.name == 'alfabank' %}
            <img src="{% static 'images/alfabank.png' %}" class="h100">
          {% elif source.name == 'otpbank' %}
            <img src="{% static 'images/otp-logo.png' %}" class="h100">
          {% elif source.name == 'АБ «УКРГАЗБАНК»' %}
            <img src="{% static 'images/ukrgasbank.jpg' %}" class="h100">
          {% elif source.name == 'monobank' %}
            <img src="{% static 'images/monobank.png' %}" class="h100">
          {% elif source.name == 'vkurse.dp.ua' %}
            <img src="{% static 'images/vkurse.png' %}" class="h100">
          {% endif %}
        </td>
        <td>{{ source.name }}</td>
        <td>{{ source.source_url }}</td>

        <!--Action buttons-->
        {% if not request.user.is_authenticated %}
          <th></th>
        {% else %}
          <td>
            <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                      data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Actions
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                {% if request.user.is_authenticated %}
                  <a class="dropdown-item" href="{% url 'currency:source-details' source.pk %}">details</a>
                {% endif %}

                {% if request.user.is_superuser %}
                  <a class="dropdown-item" href="{% url 'currency:source-update' source.pk %}">update</a>
                  <a class="dropdown-item" href="{% url 'currency:source-delete' source.pk %}">delete</a>
                {% endif %}
              </div>
            </div>
          </td>
        {% endif %}

      </tr>
    {% endfor %}
  </tbody>

</table>
{% endblock %}
